<mat-card>
  <mat-card-content>
    <h2>Novo Treino</h2>
    <div class="input-group" [formGroup]="trainingForm">
      <form [formGroup]="trainingForm">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Nome" formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Grupo Muscular"
            formControlName="muscleGroup"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Intervalo"
            formControlName="restTimeSeconds"
          />
        </mat-form-field>
        <app-add-exercise
          (exerciseCreated)="addNewExercise($event)"
        ></app-add-exercise>
      </form>
    </div>

    <h2>Exercícios</h2>
    <div *ngFor="let exercise of exercises; let i = index">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ exercise.name }}
            </mat-panel-title>
            <button mat-icon-button (click)="removeExercise(exercise)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-expansion-panel-header>
          {{ exercise.sxr }}
          {{ exercise.technique }}
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="close.emit()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" (click)="saveTraining()">
      Salvar Treino
    </button>
  </mat-card-actions>
</mat-card>
