.student-add-container {
  display: flex;
  flex-direction: column;

  &-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;

    h1 {
      margin: 0;
      color: var(--purple-primary);
      font-weight: 500;
    }
  }

  &-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    &-column {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1rem;

      &-radio {
        justify-content: flex-end;
        display: flex;
        gap: 1rem;

        mat-label {
          margin-right: auto;
        }
      }
    }

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    button {
      width: 200px;
    }

    @media (max-width: 768px) {
      flex-direction: column;

      button {
        width: 100%;
      }
    }
  }
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0 !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }
}
