<mat-grid-list cols="1" rowHeight="100%">
  <mat-card class="forgot-card">
    <mat-card-content class="forgot-card-content">
      <form [formGroup]="forgotPswdForm" class="forgot-card-content-form">
        <mat-form-field appearance="outline">
          <mat-icon matSuffix>email</mat-icon>
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          [disabled]="forgotPswdForm.invalid"
          (click)="forgotPswd()"
        >
          Enviar Link
        </button>
      </form>
      <div class="forgot-card-actions">
        <a mat-button routerLink="/auth">Voltar para Login</a>
      </div>
    </mat-card-content>
  </mat-card>
</mat-grid-list>
