.student-details-container {
  &-header {
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--full-white);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    img {
      height: 180px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &-info,
    &-anamnesis {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      min-width: 30%;

      h2 {
        color: var(--purple-primary);
      }

      h2,
      h3 {
        margin: 0;
        font-weight: 500;
      }

      > div {
        display: flex;
        gap: 0.5rem;
        strong {
          font-weight: 500;
        }
      }
    }

    :not(:first-child) {
      flex-grow: 2;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 1.5rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
  }
}

.dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.35);

  &-content {
    border-radius: 1rem;
  }
}
