<mat-grid-list cols="1" rowHeight="100%">
  <mat-card class="login-card">
    <mat-card-content class="login-card-content">
      <form [formGroup]="loginForm" class="login-card-content-form">
        <mat-form-field appearance="outline">
          <mat-icon matSuffix>email</mat-icon>
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-icon matSuffix>lock</mat-icon>
          <input
            matInput
            placeholder="Senha"
            type="password"
            formControlName="password"
          />
        </mat-form-field>
        <a mat-button routerLink="/auth/forgot-password">Esqueceu sua senha?</a>
        <button
          mat-raised-button
          color="primary"
          [disabled]="loginForm.invalid"
          (click)="login()"
        >
          Entrar
        </button>
      </form>
      <div class="login-card-actions">
        <a mat-button routerLink="/auth/register"
          >Não possui uma conta? Cadastre-se</a
        >
      </div>
    </mat-card-content>
  </mat-card>
</mat-grid-list>
